<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  
</head>
<body>
  <nav class="orange" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">LeBonCoin Challenge</a>
      
      
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Other links</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h4 class="header center orange-text">Submit your offer</h1>
      <div class="row center">
        <h5 class="header col s12 light">You are ...</h5>
        <form action="#">
          <p>
            <label>
              <input class="with-gap" name="group1" type="radio" />
              <span>A professional</span>
            </label>
            <label>
              <input class="with-gap" name="group1" type="radio" />
              <span>An individual</span>
            </label>
          </p>

          <div class="row center">
		  <form id="upload-photos">
            <h5 class="header col s12 light">Upload your images</h5>
            <input id="photos-input" type="file" name="photos[]" multiple="multiple" onchange="previewFile()">
			<img src="" height="200" alt="Image preview...">
            <br><br><button  id="upload-button">Upload</button>
		  </form>
          </div> 
        
          <div class="row">
              <form class="col s12"> 
                    <div class="input-field col s12">
                        <select id = "select1">
                            <option disable value="Opt">Select category</option>
                          <optgroup label="Vehicules"> 
                            <option value="Voiture">Voiture</option>
                            <option value="Moto">Moto</option>
                          </optgroup>
                          <optgroup label="Jeux-video">
                            <option value="3">Option 3</option>
                            <option value="4">Option 4</option>
                          </optgroup>
                        </select>
                        <label>Optgroups</label>
                      </div> 
                </div>
              </form>
              </div>
              <div class="row">
                  <form class="col s12">
                    <div class="row">
                      <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">What are you selling ?</label>
                      </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                          <textarea id="textarea2" class="materialize-textarea"></textarea>
                          <label for="textarea2">Description</label>
                        </div>  
                      </div>
                    <div class="row">
                      <div class="input-field col s2">
                          <input type = "number" id="Prix" type="text" class="validate">
                          <label for="Prix">Price</label> 
                        </div>
					 </div>
                  </form>
                </div>
      <div class="row right">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Suggestion</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up selling process</h5>

            <p class="light">We just need a picture of your object to complete the data fields for the user. Using image recognition allow the seller to buy many minutes to publish his offer.</p>
          </div>
        </div>


        <div class="col s12 m4  ">
          <div class="icon-block">

            <p class="light"></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Improved</h5>

            <p class="light">Using our price recomandation brings fairness to the selling process ! 
              The seller associate a fair price to his product and the buyer will be noticed when the suggestion is used. That is the start point of the trust relationship between the two actors.
            </p>
          </div>
        </div>


    </div>
    <br><br>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Leboncoin</h5>
          <p class="grey-text text-lighten-4">So we work on improving user experience on the website. Anyone who wants to sell his product will just  have to take a picture of it. Then our process will
            automatically complete the different fields. So the user won't loose his time submitting his product. Moreover it adds fairness on the process of selling if the seller 
            uses our algorithm to determine the "right price".
          </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">About us</h5>
          <ul>
            <li><a class="white-text" href="#!"> Brieuc</a></li>
            <li><a class="white-text" href="#!"> Dorian</a></li>
            <li><a class="white-text" href="#!"> Kenza</a></li>
            <li><a class="white-text" href="#!"> Khaled</a></li>
            <li><a class="white-text" href="#!"> Saqab</a></li>
            <li><a class="white-text" href="#!"> Shamil</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script> 
  <script src="js/upload_img.js"></script> 
  <script>
	function previewFile() {
	  var preview = document.querySelector('img');
	  var file    = document.querySelector('input[type=file]').files[0];
	  var reader  = new FileReader();

	  reader.onloadend = function () {
		preview.src = reader.result;
	  }

	  if (file) {
		reader.readAsDataURL(file);
	  } else {
		preview.src = "";
	  }
	}
	</script>
  </body>
</html>
